* {
    font-family: cursive;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background: #949494;
    min-height: 100vh;
}

#head-paragraph {
    text-align: center;
    font-size: 40px;
    margin: 10px 0;
}

h2 {
    text-align: center;
    margin: 5px 0;
}

#game {
    box-shadow: 0px 0px 15px 5px rgba(206, 206, 206, 0.75);
    background-color: rgb(221, 221, 221);
    width: 650px;
    height: 400px;
    margin: 5px auto;
    padding: 5px;
}

#game-choice {
    width: 600px;
    height: 200px;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.players-choice {
    width: 220px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#player-kulak {
    width: 180px;
    height: 180px;
    transform: scale(-1, 1);
}

#winner {
    width: 150px;
    height: 50px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ai-kulak {
    width: 180px;
    height: 180px;
}

#button-choice {
    box-shadow: 0px 0px 10px 5px rgba(136, 136, 136, 0.75);
    background-color: rgb(167, 167, 167);
    width: 600px;
    height: 120px;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.object-choice {
    width: 100px;
    height: 100ppx;
}

.objectId {
    width: 100px;
    height: 100px;
    transition: 300ms;
}

.objectId:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: 300ms;
}

#score {
    margin: 50px 0 0 20px;
}