<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div id="main-section">
        <section id="section1" class="block_section">
            <span class="loader"></span>
        </section>
        <section id="section2" class="block_section">
            <div class="emoji">
                <div class="face">
                    <div class="eyes">
                        <div class="eye"></div>
                        <div class="eye"></div>
                    </div>
                    <div class="mouth"></div>
                </div>
            </div>
        </section>
        <section id="section3" class="block_section">
            <div class="loader">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </section>
        <section id="section4" class="block_section">
            <span class="mouse">
            <span class="mouse-wheel"></span>
            </span>
        </section>
        <section id="section5" class="block_section">
            <button type="button" class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>
        </section>
        <section id="section6" class="block_section">
            <a href="#" class="button">Learn more</a>
        </section>
        <section id="section7" class="block_section">
            <div class="ball-wrapper">
                <div class="ball"></div>
                <div class="shallow"></div>
            </div>
        </section>
        <section id="section8" class="block_section">
            <div class="loader-wrapper">
                <div class="loader">
                    <div class="loader loader-inner"></div>
                </div>
            </div>
        </section>
        <section id="section9" class="block_section">
            <div class="animated-background"></div>
        </section>
        <section id="section10" class="block_section">
            <a href="#" class="button">
                <span>Start Coding</span>
            </a>
        </section>
        <section id="section11" class="block_section">
            <div class="spiner"></div>
        </section>
        <section id="section12" class="block_section">
            <div class="card">
                <img src="img/whatsapp-icon.png" alt="#"></div>
        </section>
        <section id="section13" class="block_section">
            <div class="card">
                <img src="img/whatsapp-icon.png" alt="#">
            </div>
        </section>
        <section id="section14" class="block_section">
            <a href="#" class="button">LEARN MORE</a>
        </section>
        <section id="section15" class="block_section">
            <a href="#" class="button">Learn more</a>
        </section>
        <section id="section16" class="block_section">
            <div id="ball1" class="ball"></div>
            <div id="ball2" class="ball"></div>
            <div id="ball3" class="ball"></div>
            <div id="ball4" class="ball"></div>
            <div id="ball5" class="ball"></div>
            <div id="ball6" class="ball"></div>
            <div id="ball7" class="ball"></div>
            <div id="ball8" class="ball"></div>
            <div id="ball9" class="ball"></div>
            <div id="ball10" class="ball"></div>
            <div id="ball11" class="ball"></div>
            <div id="ball12" class="ball"></div>
            <div id="ball13" class="ball"></div>
            <div id="ball14" class="ball"></div>
            <div id="ball15" class="ball"></div>
            <div id="ball16" class="ball"></div>
            <div id="ball17" class="ball"></div>
            <div id="ball18" class="ball"></div>
            <div id="ball19" class="ball"></div>
            <div id="ball20" class="ball"></div>
            <div id="ball21" class="ball"></div>
            <div id="ball22" class="ball"></div>
        </section>
        <section id="section17" class="block_section">
            <div id="ball1" class="ball"></div>
            <div id="ball2" class="ball"></div>
            <div id="ball3" class="ball"></div>
            <div id="ball4" class="ball"></div>
        </section>
        <section id="section18" class="block_section">
            <div id="ball1" class="ball"></div>
            <div id="ball2" class="ball"></div>
            <div id="ball3" class="ball"></div>
            <div id="ball4" class="ball"></div>
            <div id="ball5" class="ball"></div>
            <div id="ball6" class="ball"></div>
        </section>
        <!-- доделать 19 когда-то надо-->
        <section id="section19" class="block_section">
            <div id="air_pods">
                <div id="top_block_sect19">
                    <div id="shal_top_sect19"></div>
                    <div id="bottom_top_sect19"></div>
                </div>
                <div id="bottom_block">
                    <div id="shal_bottom">
                        <!-- <div id="pods1" class="pods"></div>
                        <div id="pods2" class="pods"></div> -->
                    </div>
                </div>
            </div>
        </section>
        <section id="section20" class="block_section">
            <div id="block">
                <img id="img_section_20" src="img/section_20_img1.png" alt="#">
            </div>
        </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>

</html>