<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UI Components</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/loaders.css">
    <link rel="stylesheet" href="css/buttons.css">
    <link rel="stylesheet" href="css/effects.css">
    <link rel="stylesheet" href="css/widgets.css">
</head>

<body>
    <div id="main-section">

        <section id="section1" class="block_section">
            <span class="label">Blob Loader</span>
            <span class="loader"></span>
        </section>

        <section id="section2" class="block_section">
            <span class="label">Rolling Eyes</span>
            <div class="emoji">
                <div class="face">
                    <div class="eyes">
                        <div class="eye"></div>
                        <div class="eye"></div>
                    </div>
                    <div class="mouth"></div>
                </div>
            </div>
        </section>

        <section id="section3" class="block_section">
            <span class="label">Sound Bars</span>
            <div class="loader">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </section>

        <section id="section4" class="block_section">
            <span class="label">Scroll Mouse</span>
            <span class="mouse">
                <span class="mouse-wheel"></span>
            </span>
        </section>

        <section id="section5" class="block_section">
            <span class="label">Hamburger</span>
            <button type="button" class="hamburger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
        </section>

        <section id="section6" class="block_section">
            <span class="label">Pulse Button</span>
            <a href="#" class="button">Learn more</a>
        </section>

        <section id="section7" class="block_section">
            <span class="label">Bounce Ball</span>
            <div class="ball-wrapper">
                <div class="ball"></div>
                <div class="shallow"></div>
            </div>
        </section>

        <section id="section8" class="block_section">
            <span class="label">Ring Spinner</span>
            <div class="loader-wrapper">
                <div class="loader">
                    <div class="loader loader-inner"></div>
                </div>
            </div>
        </section>

        <section id="section9" class="block_section">
            <span class="label">Gradient Wave</span>
            <div class="animated-background"></div>
        </section>

        <section id="section10" class="block_section">
            <span class="label">Rainbow Border</span>
            <a href="#" class="button">
                <span>Start Coding</span>
            </a>
        </section>

        <section id="section11" class="block_section">
            <span class="label">Spin Ring</span>
            <div class="spiner"></div>
        </section>

        <section id="section12" class="block_section">
            <span class="label">Tilt Card</span>
            <div class="card">
                <img src="img/whatsapp-icon.png" alt="icon">
            </div>
        </section>

        <section id="section13" class="block_section">
            <span class="label">Hover Card</span>
            <div class="card">
                <img src="img/whatsapp-icon.png" alt="icon">
            </div>
        </section>

        <section id="section14" class="block_section">
            <span class="label">Fill Sweep</span>
            <a href="#" class="button">LEARN MORE</a>
        </section>

        <section id="section15" class="block_section">
            <span class="label">Corner Button</span>
            <a href="#" class="button">Learn more</a>
        </section>

        <section id="section16" class="block_section">
            <span class="label">Orbit Balls</span>
            <div id="ball1"  class="ball"></div>
            <div id="ball2"  class="ball"></div>
            <div id="ball3"  class="ball"></div>
            <div id="ball4"  class="ball"></div>
            <div id="ball5"  class="ball"></div>
            <div id="ball6"  class="ball"></div>
            <div id="ball7"  class="ball"></div>
            <div id="ball8"  class="ball"></div>
            <div id="ball9"  class="ball"></div>
            <div id="ball10" class="ball"></div>
            <div id="ball11" class="ball"></div>
        </section>

        <section id="section17" class="block_section">
            <span class="label">Cross Balls</span>
            <div id="ball1" class="ball"></div>
            <div id="ball2" class="ball"></div>
            <div id="ball3" class="ball"></div>
            <div id="ball4" class="ball"></div>
        </section>

        <section id="section18" class="block_section">
            <span class="label">Star Balls</span>
            <div id="ball1" class="ball"></div>
            <div id="ball2" class="ball"></div>
            <div id="ball3" class="ball"></div>
            <div id="ball4" class="ball"></div>
            <div id="ball5" class="ball"></div>
            <div id="ball6" class="ball"></div>
        </section>

        <section id="section19" class="block_section">
            <span class="label">AirPods Case</span>
            <div id="air_pods">
                <div id="top_block_sect19">
                    <div id="shal_top_sect19"></div>
                    <div id="bottom_top_sect19"></div>
                </div>
                <div id="bottom_block">
                    <div id="shal_bottom"></div>
                </div>
            </div>
        </section>

        <section id="section20" class="block_section">
            <span class="label">Zoom Image</span>
            <div id="block">
                <img id="img_section_20" src="img/section_20_img1.png" alt="preview">
            </div>
        </section>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>

</html>
