<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div id="section">
        <div data-speed="2" class="elem" id="elem0">Parallax</div>
        <div data-speed="-5" class="elem" id="elem1"></div>
        <div data-speed="5" class="elem" id="elem2"></div>
        <div data-speed="2" class="elem" id="elem3"></div>
        <div data-speed="6" class="elem" id="elem4"></div>
        <div data-speed="8" class="elem" id="elem5"></div>
        <div data-speed="-2" class="elem" id="elem6"></div>
        <div data-speed="4" class="elem" id="elem7"></div>
        <div data-speed="-9" class="elem" id="elem8"></div>
        <div data-speed="6" class="elem" id="elem9"></div>
        <div data-speed="-7" class="elem" id="elem10"></div>
    </div>

    <script src="js.js"></script>
</body>

</html>